<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    <link rel="shortcut icon" href="./images/user-favicon.ico" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="./jquery/dist/jquery.slim.min.js"></script>
    <script src="./js/app.js"></script>
</head>
<body>
    <div class="header">
        <h1>Login and Registration App</h1>
        <img src="./images/user-icon.png" alt="user_image" class="logo_image">
    </div>
    <div class="wrapper">
        <div class="content">
            <div class="line">
                <div class="block">
                    <h1>Register</h1>
                </div>
            </div>
            <form action="/register" method="post">
                <div class="line">
                    <div class="block">
                        <label for="FirstName">First Name:</label>
                    </div>
                    <div class="block">
                        <input type="text" name="first_name" id="first_name">
                    </div>
                    <div class="block">
                        <div></div>
                    </div>
                </div>
                <div class="line">
                    <span class="err-message" id="first_name_err"></span>
                </div>
                <div class="line">
                    <div class="block">
                        <label for="last_name">Last Name:</label>
                    </div>
                    <div class="block">
                        <input type="text" name="last_name" id="last_name">
                    </div>
                    <div class="block">
                        <div></div>
                    </div>
                </div>
                <div class="line">
                    <span class="err-message" id="last_name_err"></span>
                </div>
                <div class="line">
                    <div class="block">
                        <label for="email">Email:</label>
                    </div>
                    <div class="block">
                        <input type="text" name="email" id="email">
                    </div>
                    <div class="block">
                        <div></div>
                    </div>
                </div>
                <div class="line">
                    <span class="err-message" id="email_err"></span>
                </div>
                <div class="line">
                    <div class="block">
                        <label for="Password">Password:</label>
                    </div>
                    <div class="block">
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="block">
                        <div></div>
                    </div>
                </div>
                <div class="line">
                    <span class="err-message" id="password_err"></span>
                </div>
                <div class="line">
                    <div class="block">
                        <label for="Cpassword">Confirm:</label>
                    </div>
                    <div class="block">
                        <input type="password" name="cpassword" id="cpassword">
                    </div>
                    <div class="block">
                        <a href="/">Already Registered?</a>
                    </div>
                </div>
                <div class="line">  
                    <span class="err-message" id="cpassword_err"></span>
                </div>
            <button type="submit" class="btn">Submit</button> 
            </form>
        </div>
        <div class="registration_divider"></div>
        <div class="content">
            <div class="line">
                <div class="block">
                    <h1>Login</h1>
                </div>
            </div>
            <form action="/login" method="post">
            <div class="line">
                <div class="block">
                    <label for="email">Email:</label>
                </div>
                <div class="block">
                    <input type="text" name="login_email" id="login_email">
                </div>
                <div class="block">
                    <div></div>
                </div>
            </div>
            <div class="line">
                <span class="err-message" id="login_email_err"></span>
            </div>
            <div class="line">
                <div class="block">
                    <label for="password">Password:</label>
                </div>
                <div class="block">
                    <input type="text" name="login_password" id="login_password">
                </div>
                <div class="block">
                    <a href="/">Not Registered?</a>
                </div>
            </div>
            <div class="line">
                <span class="err-message" id="login_password_err"></span>
            </div>
        <button type="submit" class="btn">Submit</button> 
        </form>
    </div>
</body>
</html>